@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";
@import "partials/reset";
@import "partials/fonts";
@import "partials/header/header";
@import "partials/content/content";
@import "partials/footer/footer";
@import "partials/responsive";

body {
  max-width: 1380px;
  margin: 0 auto;
  color: black;
  font-family: sans-serif;
}

.white-star, .yellow-star {
  margin-right: 5px;
}