header
  div.header
    include contacts
    div.logo-wrap
      include logo
    div.header__content
      h1 Only true and best reviews from the industry professionals
      h2 Over 1000+ truthful reviews of different products and services
      include search
  include navigation