- var NAV_ITEMS = ['Electronics', 'Computers', 'Games', 'Music', 'Appliances', 'Home & Garden', 'Sport', 'Cars', 'Services', 'More']

div.nav
  div.collapsed
    div
    div
    div
  ul
    each item in NAV_ITEMS
      li #{item}
        div.dropdown
          ul
            each option in NAV_ITEMS
              li #{option}