#load-more-button {
  font-family: $font-avenir-light;
  text-align: center;
  margin-bottom: 35px;
  color: #b7b7b7;

  p {
    border: 2px solid #b7b7b7;
    height: 48px;
    width: 250px;
    margin: 0 auto;
    cursor: pointer;
    line-height: 48px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;

    &:hover {
      background-color: #ffe36d;
      border-color: #ffe36d;
      color: #b09630;
    }
  }
}

.loader {
  background: url(./img/loading-icon.gif) no-repeat;
  background-size: 237px 150px;
  background-position-x: 50%;
  background-position-y: 50%;
}