.product {
  margin: 0 10px 30px;
  width: 280px;
  display: inline-block;
  overflow: hidden;
  font-size: 15px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);

  &:hover {
    box-shadow: 0 0 15px rgba(0,0,0,2);
    cursor: pointer;
  }

  i {
    font-style: italic;
  }
}

.product__image {
  height: 202px;
  width: 280px;
  display: flex;
  justify-content: center;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
}

.product__label {
  position: absolute;
  top: 0;
  height: 26px;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  width: 95px;
  background-color: rgba(214,55,55,0.9);
}

.product__title {
  font-family: "Avenir Next Cyr Medium", sans-serif;
  color: #555555;
  font-size: 16px;
}

.product__rating {
  margin: 10px 0;
}

.product__author {
  color: #7b431d;
}

.product__date {
  font-style: italic;
}

.product__author, .product__date, .product__body {
  font-family: "Avenir Next Cyr Light", sans-serif;
}

.product__body {
  color: #777777;
  font-size: 13px;
  margin: 20px 20px 20px;
}

.product__description {
  font-size: 14px;
  margin: 10px 0;
  line-height: 20px;
}

.product__tag-list {
  line-height: 25px;

  li {
    display: inline-block;
    text-decoration: underline;
    margin-right: 15px;
  }
}

.product__footer {
  text-align: end;
  border-top: 2px solid #f3f3f3;
  padding-top: 18px;
  margin-top: 10px;
  
  a {
    color: #777777;
    text-decoration: none;
  }
}