doctype
html(lang='en')
  head
    title Smart Reviewer
    link(
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
      crossorigin="anonymous"
    )
    link(rel="stylesheet" href="main.css")
  body

    include header/header
    include content/content
    include footer/footer

    script(src="vendor.js")
    script(src="app.js")
