doctype
html(lang='en')
  head
    title Hello world!
    script(src="vendor.js")
    script(src="app.js")
    link(rel="stylesheet" href="main.css")
  body
    include header/header
    include content/content
    include footer/footer