- var SOCIAL_ICONS = ['./img/facebook.png', './img/twitter.png', './img/gplus.png', './img/pinterest.png'];

mixin social(src)
  li
    a(href="#")
      img(src= src alt='icon image')

div.footer-bottom__wrap
  ul.mail
    +social('./img/icon-mail.png')
    li
      a(href="#") Have a question?
    li contacts@smartreviewer.com

  ul.social
    +social(SOCIAL_ICONS[0])
    +social(SOCIAL_ICONS[1])
    +social(SOCIAL_ICONS[2])
    +social(SOCIAL_ICONS[3])