ul.mail
  li
    img(src="./img/icon-mail.png")
  li Have a question?
  li contacts@smartreviewer.com

ul.social
  li
    img(src="./img/facebook.png")
  li
    img(src="./img/twitter.png")
  li
    img(src="./img/gplus.png")
  li
    img(src="./img/pinterest.png")
