ul.mail
  li
    a(href="#")
      img(src="./img/icon-mail.png")
  li
    a(href="#") Have a question?
  li contacts@smartreviewer.com

ul.social
  li
    a(href="#")
      img(src="./img/facebook.png")
  li
    a(href="#")
      img(src="./img/twitter.png")
  li
    a(href="#")
      img(src="./img/gplus.png")
  li
    a(href="#")
      img(src="./img/pinterest.png")
