mixin product(imgSrc, title, rating, author)
  div.footer-product
    div.footer-product__image
      img(src= imgSrc)
    div.footer-product__details
      p.footer-product__title= title
      p(class= rating)
      p
        span.footer-product__author= author