mixin product(imgSrc, title, rating, author)
  div.footer-product
    a(href="#")
      +image("footer-product__image")(style!= imgSrc)
      div.footer-product__details
        p.footer-product__title= title
        p(class= rating)
        p
          span.footer-product__author= author