include product-mixin

- var iphoneReview = ['Apple iPhone 6S review', '4', ' John Mayer ', '- Nov 2, 2015', 'Improved speed everywhere (new processor, faster wireless, quicker Touch ID sensor); a sturdier body; better front and rear cameras; a bold new 3D Touch pressure-sensitive display that could ...', ['mobile', 'apple', 'touch', 'news'], './img/iphone.png'];
- var haloReview = ['Why Halo 5: Guardians Record  Breaking Sales', '5', ' Jeffrey Wallens ', '- Oct 22, 2015', 'As a whole the Xbox community has always been more interactive because of the Halo series. The PS4 following is still great but falls short. The fantastic sales records broken by Halo 5: Guardians shows...', ['games', 'action', 'xbox', 'pc', 'ps4'], './img/halo.png'];
- var beatsReview = ['Beats Solo 2 review', '3', ' David Carnoy ', '- Oct 14, 2015', 'Like the new Studio, the Solo 2, which weighs in at 7.2 ounces (205 grams), is built more sturdily and has no visible screws.', ['music', 'beats', 'headphones', 'beats solo', 'streets', 'lifestyle'], './img/beats.png'];
- var digitalReview = ['DigitalOcean. Simple Cloud  Hosting, Built for Developers.', '4', ' Helen Fiesko ', '- Oct 22, 2015', 'The services they provide are quite basic - you get VPS\'s in the cloud and DNS management, that\'s all. No fancy load balancing, hosted databases, hadoop clusters, etc.. ', ['servers', 'service', 'hosting', 'cheap', 'best', 'cloud', 'popular'], './img/digital.png'];






div.page-content
  +product(iphoneReview[0], iphoneReview[1], iphoneReview[2], iphoneReview[3], iphoneReview[4], iphoneReview[5], iphoneReview[6])
  +product(haloReview[0], haloReview[1], haloReview[2], haloReview[3], haloReview[4], haloReview[5], haloReview[6])
  +product(beatsReview[0], beatsReview[1], beatsReview[2], beatsReview[3], beatsReview[4], beatsReview[5], beatsReview[6])
  +product(digitalReview[0], digitalReview[1], digitalReview[2], digitalReview[3], digitalReview[4], digitalReview[5], digitalReview[6])
  +product(iphoneReview[0], iphoneReview[1], iphoneReview[2], iphoneReview[3], iphoneReview[4], iphoneReview[5], iphoneReview[6])

