@import "blocks";
@import "products";

footer {
  background-color: #4a4a4a;
}

.footer-wrap {
  padding: 70px 70px 0;
}

.footer-bottom {
  height: 60px;
  background-color: #3c3c3c;
}

.logo-wrap-footer {

}