@import "blocks";
@import "products";

footer {
  background-color: #4a4a4a;
}

.footer-wrap {
  padding: 70px 70px 0;
}

.footer-bottom {
  color: #f6f6f6;
  height: 60px;
  background-color: #3c3c3c;
  padding: 20px 70px;
  font-size: 14px;

  ul, li {
    display: inline-block;
  }
}

.mail li {
  margin-right: 15px;
}

.social li {
  margin-left: 15px;
}

