@import "blocks";
@import "products";

footer {
  font-family: $font-avenir;
  background-color: #4a4a4a;
}

.footer-wrap {
  max-width: $content-width;
  margin: 0 auto;
  padding: 70px 70px 0;
}

.footer-bottom {
  color: #f6f6f6;
  background-color: #3c3c3c;
  font-size: 13px;

  ul, li {
    display: inline-block;
  }
}

.footer-bottom__wrap {
  max-width: $content-width;
  margin: 0 auto;
  padding: 20px 70px;
}

.mail li {
  font-family: $font-avenir-medium;
  margin-right: 15px;

  a {
    font-family: $font-avenir;
    text-decoration: none;
    color: #f6f6f6;
  }
}

.social li {
  margin-left: 15px;
}

.grid-5 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 44%;
  -ms-flex: 0 0 44%;
  flex: 0 0 44%;
  max-width: 44%;
  padding: 15px 134px 15px 15px;
}

.grid-7 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 56%;
  -ms-flex: 0 0 56%;
  flex: 0 0 56%;
  max-width: 56%;
  padding: 15px;
}

