
.footer-product {
  display: inline-block;
  width: 32%;
  height: 210px;
  overflow: hidden;
  position: relative;

  &:hover {

    img {
      opacity: 1;
    }
  }
}

.footer-product__image {
  display: flex;
  justify-content: center;

  img {
    height: 100%;
    opacity: 0.55;
  }
}

.footer-product__details {
  color: white;
  margin: 15px;
  position: absolute;
  bottom: 0;
}

.footer-product__title {
  font-weight: bold;
}

.footer-product__author {
  font-size: 14px;
}