
.footer-product {
  display: inline-block;
  width: 32%;
  height: 210px;
  overflow: hidden;
  position: relative;

  &:hover {
    cursor: pointer;

    img {
      opacity: 1;
    }
  }
}

.footer-product__image {
  display: flex;
  justify-content: center;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */

  img {
    height: 100%;
    opacity: 0.55;
  }
}

.footer-product__details {
  color: white;
  margin: 15px;
  position: absolute;
  bottom: 0;
}

.footer-product__title {
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 5px;
}

.footer-product__author {
  font-size: 12px;
}