.header__contacts {
  float: right;
  font-family: "Avenir Next Cyr Light", sans-serif;
  color: #e9e9e7;
  margin: 30px 68px 0 0;

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    margin-left: 10px;

    &:hover {
      text-decoration: underline;
      color: #ffe89c;
      cursor: pointer;
    }
  }
}