@import "contacts";
@import "logo";
@import "navigation";

.header {
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 555px;
  position: relative;
  width: 100%;
}

.logo-wrap {
  padding-top: 88px;
  margin: 0 auto;
  width: 196px;
}

.header__content {
  text-align: center;
  color: white;

  h1 {
    margin-top: 52px;
    font-size: 31pt;
  }

  h2 {
    margin-top: 10px;
    font-size: 22pt;
  }

  .search {
    background-image: url("./img/search-icon.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    margin-top: 40px;
    height: 50px;
    width: 530px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
  }

}