@import "contacts";
@import "logo";
@import "navigation";

header {
  background-image: url("./img/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.header {
  max-width: 1380px;
  margin: 0 auto;
  height: 555px;
}

.logo-wrap {
  padding-top: 88px;
  margin: 0 auto;
  width: 196px;
}

.header__content {
  font-family: "Avenir Next Cyr Light", sans-serif;
  text-align: center;
  color: white;
  width: 80%;
  margin: auto;

  h1 {
    font-family: "Avenir Next Cyr Demibold", sans-serif;
    margin-top: 52px;
    font-size: 32px;
  }

  h2 {
    margin-top: 23px;
    font-size: 24px;
  }

  .search-input {
    background-position-x: 95%;
    background-position-y: 50%;
    margin: 40px 0;
    height: 50px;
    width: 510px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid white;
    outline: 0;
  }

  .search-submit {
    background-image: url("./img/search-icon.png");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    background-position-y: 50%;
    background-position-x: 50%;
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: relative;
    top: 19px;
    right: 54px;
    outline: 0;
  }
}