.logo {
  height: 69px;
  width: 196px;
  border: 1px solid white;
  text-align: center;
  clear: both;
  padding-left: 8px;

  .logo__top {
    color: #f8f8f8;
    font-family: "Nexa Rust Sans Black", sans-serif;
    font-size: 24px;
    margin-top: 10px;
    letter-spacing: 10px;
  }

  .logo__bottom {
    font-family: "Nexa Light", sans-serif;
    margin-top: 7px;
    letter-spacing: 6px;
    color: #ffe89c;
    font-size: 12px;
  }
}