@media (max-width: 1218px) {
  .nav ul {
    display: none;
  }

  #collapsed {
    display: block;
    margin-top: 7px;
    position: absolute;
    margin-left: 10%;
    left: 0;
  }

}

@media screen and (max-width: 991px) {
  .grid-5 {
    display: none;
  }

  .grid-7 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .header__content .search-input {
    width: 400px;
  }
}

@media (max-width: 635px) {
  ul.mail, ul.social {
    display: block;
    width: 180px;
    margin: 10px auto;
    text-align: center;
  }

  .mail li {
    margin: 10px 0;
  }

  .header__content .search-input {
    width: 250px;
  }
}

@media (max-width: 575px) {
  .footer-wrap {
    display: none;
  }

  .search {
    display: none;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}