//fonts
$font-avenir: "Avenir Next Cyr", sans-serif;
$font-avenir-light: "Avenir Next Cyr Light", sans-serif;
$font-avenir-medium: "Avenir Next Cyr Medium", sans-serif;
$font-avenir-demibold: "Avenir Next Cyr Demibold", sans-serif;
$font-nexa-light: "Nexa Light", sans-serif;
$font-nexa-rust: "Nexa Rust Sans Black", sans-serif;

//block size
$content-width: 1380px;